/* for-phone-only */
@media (max-width: 599px) {
  .menu-mobile {
    display: block;
  }
  .container-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu-nav {
    display: none;
  }
  .intro-bg {
    background: url('../img/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  .arrow img {
    display: none;
  }

}

@media (min-width: 599px) {
  
  [data-anima="scrollFadeInRight"] {
    opacity: 0;
  }
  [data-anima="scrollFadeInUp"] {
    opacity: 0;
  }

  [data-anima="scrollFadeInRight"].animate__fadeInRight {
    opacity: 1;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
  }


  [data-anima="scrollFadeInUp"].animate__fadeInUp {
    opacity: 1;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}

@media(max-width: 900px) {
  .menu-nav ul li a {
    font-size: 16px;
  }
  .card-01 {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-02 {
    display: flex;
    flex-direction: column;
  }
  .img-egg {
    display: block;
    width: 100%;
  }
  .card-content {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 100%;
  }
  .card-description h2 {
    padding-right: 0;
  }
  .card-description p {
    padding-right: 0;
  }
  .card-skills {
    display: flex;
    flex-direction: column;
  }

  .container-clients {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .testimonials-01 p {
    margin-top: 30px;
  }
  .testimonials-02 p {
    margin-top: 30px;
  }
  .testimonials-03 p {
    margin-top: 30px;
  }
  .testimonials-04 p {
    margin-top: 30px;
  }
  .name {
    margin-top: 25px;
  }
  .office {
    margin-bottom: 80px;
  }
}