body {
  background: $Neutal-Color-White;
}

//Inclui os mixins de titulos para essas classes
.title-large {
  @include title-large;
}

.title-medium {
  @include title-medium;
  //Estilo geral
  padding-top: 100px;
}

.title-small {
  @include title-small;
  //Estilo geral
  margin-top: 35px;
}

.title-very-small {
  @include title-very-small;
  //Estilo geral
  margin-top: 12px;
  margin-bottom: 10px;
}

//inclui o mixin de texto para esta classe
.text-medium {
  @include text-medium;
  margin-top: 20px;
}
.text-small {
  @include text-small;
}




//Header
.menu {
  padding: 30px 0;
}

.menu .container {
  display: flex;
}

.menu-nav {
  flex: 1;
}

.menu-nav ul {
  display: flex;
  justify-content: center;
}

.menu-nav ul li a {
  @include link;//inclui os estilos de links
  padding: 10px;
}

.menu-nav ul li + li {
  margin-left: 15px;
}

//button
.button {
  @include btn;//inclui o estilo do botão do site para esta classe
}




//Main
.main {
  background: $Neutal-Color-VeryLightGray;
  /*background-image: url(../img/bg-intro-desktop-5.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;*/
}

.main-title {
  padding-top: 200px;
  padding-bottom: 270px;
}

//Section Services
.section-services {
  background: $Neutal-Color-LightGrayishBlue;
}
.container-services {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 100px;
}

.service-02, .service-03 {
  padding-left: 20px;
  padding-right: 20px;
}




//Section Articles
.section-articles {
  background: $Neutal-Color-VeryLightGray;
}

.container-articles {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}


.article::nth-child(2) {
  margin-right: 20px;
}
.author-name {
  font-family: $font-Primary;
  font-size: em(12);
  font-weight: normal;
  color: $Neutal-Color-GrayishBlue;
}

.body-article {
  background: #fff;
  position: relative;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  width: 255px;
}



//Footer 
.footer {
  background: $Primary-Color-DarkBlue;
}

.container-footer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 45px;
  justify-content: space-between;
}

.footer-social-icons {
  margin-top: 60px;
}

.footer-social-icons ul {
  display: flex;
}

.footer-social-icons li + li {
  margin-left: 13px;
}

.footer-nav {
  display: flex;
  flex: 1;
}

.footer-nav ul {
  margin-left: 130px;
}

.footer-nav li + li {
  margin-top: 20px;
}

.footer-nav ul li a{
  @include link;
  color: #fff;
}

.footer-button {
  margin-top: 13px;
  margin-bottom: 30px;
}

.copy {
  font-family: $font-Primary;
  font-size: em(12);
  color: $Neutal-Color-GrayishBlue;
}




