*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: var(--primary-color-1);
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 1px 1px 30px -10px #808D99; 
  box-shadow: 1px 1px 30px -10px #808D99;
}

:root {
  --primary-color-1 : #ff52bf;
  --primary-color-2 : #00252E;
  --secondary-color-1 : #EBFBFF;
  --secodary-color-2 : #808D99;
}

.btn {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.bg-intro {
  background: url(../img/bg-hero-desktop.svg);
  background-color: var(--secondary-color-1);
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content .btn-header {
  background: #fff;
}

.header-content .btn-header a {
  color: var(--primary-color-2);
}

.header-content .btn-header a:hover {
  opacity: 0.6;
}

.intro {
  display: flex;
  margin-top: 100px;
}

.btn-intro:hover {
  opacity: 0.7;
}

.intro-content-01 {
  margin-right: 40px;
}

.intro-content-02 img {
  display: block;
  width: 650px;
  padding-bottom: 60px;
}

.intro-title {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color-2);
  font-size: 48px;
}

.intro-paragrafo {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  color: var(--primary-color-2);
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 1px 1px 30px -10px #808D99; 
  box-shadow: 1px 1px 30px -10px #808D99;
  border-radius: 10px;
}

.post-01 {
  margin-top: 100px;
}

.post-02 {
  margin-top: 30px;
}

.post-03 {
  margin-top: 30px;

}

.post-content {
  max-width: 450px;
}

.post-content h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: var(--primary-color-2);
}

.post-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--secodary-color-2);
  line-height: 24px;
  margin-top: 15px;
}

.post-image img {
  width: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.call {
  -webkit-box-shadow: 1px 1px 30px -10px #808D99; 
  box-shadow: 1px 1px 30px -10px #808D99;
  border-radius: 10px;
  max-width: 600px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  position: relative;
  background: #fff;
  z-index: 2;
}

.button-call {
  display: block;
  margin: 0 auto;
}

.button-call:hover {
  opacity: 0.7;
}

.call h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: var(--primary-color-2);
  margin-bottom: 20px;
  padding-top: 30px;
}

/* Footer */
.footer {
  background: var(--primary-color-2);
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
  padding-bottom: 60px;
}

.footer-logo img {
  width: 100px;
}

.footer-address {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.footer-address p {
  max-width: 330px;
  color: #fff;
  line-height: 24px;
  margin-left: 15px;
}

.footer-phone {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.phone {
  color: #fff;
  margin-left: 15px;
}

.footer-email {
  display: flex;
}

.email {
  color: #fff;
  margin-left: 15px;
}

.footer-map {
  display: flex;
  margin-top: 40px;
}

.footer-map-ul {
  margin-right: 100px;
}

.footer-map ul li {
  list-style: none;
  margin-bottom: 20px;
}

.footer-map ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-social {
  margin-top: 40px;
}

.footer-social ul {
  display: flex;
  list-style: none;
}

.footer-social ul li a {
  display: block;
  width: 33px;
  height: 33px;
  border: solid 1px #fff;
  border-radius: 50%;
}

.footer-social li + li {
  margin-left: 30px;
}

.footer-social svg {
  margin-top: 7px;
  margin-left: 6px;
  width: 18px;
  height: 18px;
}

.footer-social ul li svg {
  color: #fff;
}

.footer-social ul li a:hover {
  border: solid 1px var(--primary-color-1);
  border-radius: 50%;
  color: var(--primary-color-1);
}

.footer-social ul li svg:hover {
  color: var(--primary-color-1);
}

.copy p {
  color: #fff;
  margin-top: 100px;
}

.attribution {
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}

.attribution a {
  color:#fff;
}
