/* Estilos Gerais */
*, h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

/* Classes Gerais */
.btn {
  cursor: pointer;
  border: 2px solid hsl(0, 0%, 98%);
  padding: 7px 20px;
  font-weight: bold;
  color: hsl(0, 0%, 98%);
  font-size: 1rem;
  text-transform: uppercase;
}

.btn:hover {
  color: hsl(256, 26%, 20%);
  background: hsl(0, 0%, 98%);
  transition: all .3s ease;
}

/* Imagens de fundo para decoração */
.bg-intro-right {
  position: absolute;
  right: 0;
  top: 8%;
}

.bg-intro-left {
  position: absolute;
  top: 50%;
}

/* Header + Menu navegação */
.menu {
  background: #fff;
  padding: 25px 0;
}

.menu .container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
}

.menu .container .menu-nav {
  flex: 1;
  align-self: center;
}

.menu .container .menu-nav ul {
  display: flex;
  float: right;
}

.menu .container .menu-nav ul li a {
  text-transform: uppercase;
  color: hsl(273, 4%, 51%);
  font-weight: 600;
}

.menu .container .menu-nav ul li a:hover {
  color: hsl(256, 26%, 20%);
  
}

.menu .container .menu-nav ul li + li {
  margin-left: 20px;
}

.menu .container .menu-nav .button {
  border: 2px solid #000;
  padding: 7px 15px;
  color: hsl(256, 26%, 20%);
}

.menu .container .menu-nav .button:hover {
  color: #fff;
  background: hsl(256, 26%, 20%);
  transition: all .3s ease;
}

/* Menu Mobile */
.container-mobile {
  display: none;
}

.ham {
  
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../img/icon-hamburger.svg);
  background-size: 100%;
}

.showClose {
  background-image: url(../img/icon-close.svg);
}

.navbar {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(270, 9%, 17%);
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  color: white;
  transform: translateY(-100%);
}

.img-footer-mobile img {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  display: none;
}

.showNav {
  /* show the menu */
  transform: translateY(70px);
}

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 30px;
}

.navbar ul li a {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-mobile {
  border: 2px solid #fff;
  padding: 7px 60px;
}

/* Main */

.main {
  background: hsl(256, 26%, 20%);
  height: 580px;
}

.main .img-mobile {
  display: none;
}

.main .container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
  justify-content: space-between;
}

.main .container .intro-r h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 3.5em;
  color: #fff;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1em;
  max-width: 16ch;
}

.main .container .intro-r {
  position: relative;
  padding-top: 160px;
}

.main .container .intro-l {
  padding-top: 100px;
  padding-left: 100px;
}

.main .container .intro-r::before {
  content: "";
  position: absolute;
  width: 120px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 3px;
  margin-top: -50px;
  min-height: 1px;
}

.main .container .intro-r p {
  color: #fff;
  margin-bottom: 30px;
  max-width: 58ch;
}

/*   Section Features   */
.features {
  padding-top: 280px;
}

.features .container {
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
}

.features .container .features-content {
  display: flex;
}

.features .container .features-content .prices {
  padding-left: 30px;
}

.features .container .features-content .peoples {
  padding-left: 30px;
}

.features .container h2 {
  font-weight: normal;
  color: hsl(270, 9%, 17%);
  font-family: 'DM Serif Display', serif;
  font-size: 4em;
  margin-bottom: 60px;
}

.features .container h2::before {
  position: absolute;
  content: "";
  width: 120px;
  border-radius: 3px;
  margin-top: -50px;
  background-color: hsl(273, 4%, 51%);
  min-height: 1px;
}

.features .container .features-content h3 {
  color: hsl(270, 9%, 17%);
  margin-top: 30px;
  margin-bottom: 10px;
}

.features .container .features-content p {
  color: hsl(273, 4%, 51%);
}

.features .container .card-about {
  background: hsl(256, 26%, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  background-image: url(../img/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.features .container .card-about .card-title h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  color: #fff;
  font-weight: normal;
  padding: 40px 0px 40px 60px;
  line-height: 1em;
}

.features .container .card-btn {
  padding-right: 100px;
}

/*  Footer  */
.footer {
  background: hsl(0, 0%, 98%);
  padding-top: 60px;
  margin-top: 120px;
  background-image: url(../img/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
}
.footer .container {
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
}

.footer .container .footer-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(273, 4%, 51%);
}

.footer .container .footer-header .social-nav {
  padding-bottom: 20px;
}

.footer .container .footer-header .social-nav ul {
  display: flex;
}

.footer .container .footer-header .social-nav li + li {
  margin-left: 20px;
}

.footer .container .footer-header .social-nav .fa-color {
  color: hsl(273, 4%, 51%);
}
.footer .container .footer-header .social-nav .fa-color:hover {
  color: hsl(256, 26%, 20%);
  transition: all .3s ease;
}

.footer .container .footer-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  margin-top: 30px;
}

.footer .container .footer-nav h4 {
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer .container .footer-nav ul li a {
  font-weight: 500;
  text-transform: uppercase;
  color:  hsl(270, 9%, 17%);
  display: block;
}

.footer .container .footer-nav ul li + li {
  padding-top: 10px;
}


.footer .container .footer-nav ul li a:hover {
  text-decoration: underline;
  transition: all .3s ease;
}

.attribution {
  text-align: center;
  padding: 10px 0;
}


@media screen and (max-width: 1060px) {
  .features {
    padding-top: 200px;
  }
  .features .container h2 {
    text-align: center;
  }
  .features .container .features-content {
    flex-direction: column;
    text-align: center;
  }
  .features .container .features-content .prices {
    padding-left: 0;
  }
  .features .container .features-content .peoples {
    padding-left: 0;
  }
  .features .container .features-content p {
    margin-bottom: 30px;
  }
  .features .container .card-about {
    flex-direction: column;
  }
  .features .container .card-about .card-title {
    text-align: center;
  }
  .features .container .card-about .card-title h3 {
    padding: 40px 10px 40px 10px;
  }
  .features .container .card-about .card-btn {
    padding-right: 0;
    padding-bottom: 60px;
  }
  
  
  
  .main {
    height: auto;
  }
  .main .container {
    width: 90%;
  }
  .main .container .intro-r {
    padding-top: 120px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
  }
  .main .container .intro-r h1 {
   margin: 0 auto;
   margin-bottom: 20px;
  }
  .main .container .intro-l {
    display: none;
  }
  .main .img-mobile {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  .main .container .intro-r::before {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .footer .container .footer-header {
    flex-direction: column;
    align-items: center;
  }
  .footer .container .footer-header .logo {
    margin-bottom: 30px;
  }
  .footer .container .footer-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .container .footer-nav h4 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .menu .container {
    display: none;
  }
  .container-mobile {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    vertical-align: middle;
  }
  .bg-intro-right {
    display: none;
  }
  
  .bg-intro-left {
    display: none;
  }
  .bg-intro-mobile-r {
    background-image: url(../img/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  
}

@media screen and (max-width: 380px) {
  .img-footer-mobile img {
    display: block;
  }
}