/* for-phone-only */
@media (max-width: 599px) {
  .intro-title h1 {
    font-size: 36px;
  }
  .intro-navigation {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .dropdown-content {
    background-color: var(--secondary-color-02);
  }
  .dropdown .dropdown-content a:hover {
    color: var(--primary-color-03);
  }
  .navigation .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: -70px;
  }
  .navigation .dropdown-content a {
    margin-top: 20px;
  }

  .login-mobile {
    width: 100%;
    text-align: center;
    border-top: 1px solid #C8C8CB;
    padding-top: 10px;
  }

  .btn-mobile {
    margin-top: 30px;
  }

  .login-mobile .btn-signup-mobile {
    color: #fff;
    background: var(--primary-color-01) linear-gradient(to right, #FF8F70 , #FF3D54);;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
  }

  .features .features-content {
    text-align: center;
    margin-right: 0;
  }

  .features {
    flex-direction: column-reverse;
    padding-bottom: 200px;
  }

  .features-img img {
    display: block;
    max-width: 100%;
    margin-bottom: 60px;
  }

  .infra .infra-description {
    text-align: center;
  }

  .infra .infra-description h2 {
    font-size: 24px;
  }

  .bg-infra {
    background-position: bottom 130px left -240px;
  }

  .infrastructure {
    height: 500px;
  }

  .img-usability img {
    display: block;
    max-width: 100%;
  }

  .navigation-list {
    max-width: 340px;
    margin: 0 auto;
  }

  .footer-navigation {
    flex-direction: column;
    text-align: center;
  }
}



/* for-tablet-portrait-up */
@media (min-width: 600px) {
 
}



/* for-tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
  .intro-navigation {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .dropdown-content {
    background-color: var(--secondary-color-02);
  }
  .dropdown .dropdown-content a:hover {
    color: var(--primary-color-03);
  }
  .navigation .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: -70px;
  }
  .navigation .dropdown-content a {
    margin-top: 20px;
  }

  .login-mobile {
    width: 100%;
    text-align: center;
    border-top: 1px solid #C8C8CB;
    padding-top: 10px;
  }

  .btn-mobile {
    margin-top: 30px;
  }

  .login-mobile .btn-signup-mobile {
    color: #fff;
    background: var(--primary-color-01) linear-gradient(to right, #FF8F70 , #FF3D54);;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
  }

  .features .features-content {
    text-align: center;
  }

  .features {
    flex-direction: column-reverse;
  }

  .features-img img {
    display: block;
    max-width: 100%;
    margin-bottom: 100px;
  }

  .infra .infra-description h2 {
    font-size: 24px;
  }

  .bg-infra {
    background-position: bottom 20px left -240px;
  }

  .img-usability img {
    display: block;
    max-width: 100%;
  }

}





/* for-tablet-landscape-up */
@media (min-width: 900px) {
 
}
/* for-tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
  .menu-nav li:first-child {
    margin-left: 40px;
  }

  .menu-nav li + li {
    margin-left: 40px;
  }

  .features-img img {
    max-width: 380px;
  }

  .infra .infra-description {
    padding-top: 80px;
  }

  .img-usability img {
    width: 480px;
  }
}

/* for-desktop-up */
@media (min-width: 1200px) {
  
}

/* for-desktop-only */
@media (min-width: 1200px) and (max-width: 1799px) {

}


/* for-big-desktop-up */
@media (min-width: 1800px) {
  
}


@media (max-width: 1000px) {
  .infra .infra-description {
    padding-top: 0;
  }
  .infra {
    flex-direction: column;
  }
  .phone-mockup img {
    width: 250px;
  }

  .usability {
    margin-top: 120px;
  }

  .usability-features {
    flex-direction: column;
  }

  .usability-content {
    text-align: center;
    margin-top: 60px;
  }
}