*, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 15px;
}

img {
  display: block;
}

:root {
  --primary-color-01: #fff;
  --primary-color-02: #000;
  --primary-color-03: #8C8C8C;
  --primary-color-04: #696969;
}

.bg-header {
  background: url(../img/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1440px;
  width: 84%;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-nav ul {
  display: flex;
}

.menu-nav ul li a {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: var(--primary-color-01);
}

.menu-nav li + li {
  margin-left: 40px;
}

.intro-content {
  padding-top: 100px;
  padding-bottom: 160px;
}

.intro {
  max-width: 660px;
}

.intro h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  color: var(--primary-color-01);
  letter-spacing: 2px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  border: 2px solid var(--primary-color-01);
  font-weight: 300;
}

/*  Section product */
.section-product {
  margin-top: 140px;
}

.my-product {
  max-width: 1120px;
}

.product {
  position: relative;
}

.product-description {
  background: var(--primary-color-01);
  width: 33.75rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 60px;
  padding-left: 80px;
}

.product-description h2 {
  font-size: 48px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.product-description p {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  color: var(--primary-color-03);
  line-height: 28px;
  margin-top: 20px;
}