//colors
$White: #fff;
$Black: #000;
$Dark-gray: hsl(0, 0%, 55%);
$Very-dark-gray: hsl(0, 0%, 41%);


//Fonte
$Font-primary: 'Alata', sans-serif;
$Font-secondary: 'Josefin Sans', sans-serif;


@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}